.container {
  display: flex;
}
.scrollable {
  border: 1px solid;
  height: 200px;
  width: 200px;
  margin-right: 10px;
  overflow: scroll;
}
.text {
  border: 1px solid;
  width: 300px;
  overflow: scroll;
}
