main {
  display: flex;
  margin-bottom: 20px;
}
main > div {
  border: 1px solid;
  height: 100px;
  width: 100px;
  margin-right: 10px;
  overflow: scroll;
}
main > div > div {
  width: 200px;
  overflow: scroll;
}
